.container{
    margin: auto;
    width: 90%;
    max-width: 1250px;
}
nav{
    background :#f7f7f7;
}
nav a{
    text-decoration: unset;
}
nav .container{
    display: flex;
    justify-content: space-between;
}
nav .nav-brand{
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
nav .nav-brand a{
    text-decoration-line: unset;
}
nav .nav-menu{
    margin-top: 1rem;
    display: flex;
}
nav .nav-menu li{
    list-style-type: none;
    margin:0px 15px;
}
.jobs-found{
    text-align: center;
}
.jobs-list{
    display: flex;
    flex-wrap: wrap;
}
.job-info{
    border: 1px solid grey;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
.job-info .apply{
    position: absolute;
    text-decoration-line: unset;
    right: 5px;
    bottom: 0px;
    background: green;
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}