:root{
	--themecolor: #1dd1a1;
	--themecolor2: #24292e;
}

.container{
	width: 1200px;
}

.banner{
	background-color: lightgrey;
	padding: 2rem 0rem;
}

.main-content .card{
	height: 100%;
}

.mnc{
	margin-top: 2rem;
}

.mnc1 .card-title, .skills .card-title{
	font-size: 20px;
	font-weight: 500;
	color : var(--themecolor);
}

.pr-list{
	padding-left: 1rem;
}

.pr-list li{
	list-style-type: none;
}

.pr-list .project-name{
	text-decoration: underline;
	color: var(--themecolor);
}

.skill{
	margin-bottom: 10px;
	position: relative;
	background: lightgrey;
	height: 2rem;
	display: flex;
	align-items: center;
}

.level-bar, .skill-name{
	position: absolute;
}
.level-bar{
	background: #f7e018;
	width: 70%;
	height: 2rem;
	top: 0;
	left: 0;
}
.skill-name{
	left: 5%;
	font-weight: 500;
}

.uptd{
	text-align: right;
	margin: 2rem 0rem;
}

.uptd code{
	color: var(--themecolor2)
}
@media(max-width: 1999px){
	.container{
		width: 95%;
	}
}