:root{
  --themecolor:#139967;
}
html{
	scroll-behavior: smooth;
}
.d-none{
	display: none;
}
img{
    width:100%;
}
li{
    list-style-type:none;
}
.container-fluid {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.font-weight-500{
    font-weight: 500;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
.width100{
  width: 100%;
}
.pos-abs{ position: absolute; }
.pos-rel{ position: relative; }
.uppercase{ text-transform:uppercase; }
.banner{
	background-image:
    linear-gradient(180deg, rgba(0,0,0,0.5) 80%, rgba(19,153,103,1) 100%),
	url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	position: relative;
}
.social_menu{
	padding: 8px 0px;
	position: relative;
	height: 40px;
    display: flex;
    align-items: center;
}
.social_menu a{
	color: white;
}
.social_menu .sm{
	position: absolute;
}
.social_menu .mail{
	left: 0;
}
.social_menu .mail .text{
	color: #cacaca;
}
.social_menu .mail_id{
	text-decoration: underline;
}
.social_menu .button{
	left: 45%;
	border: 1px solid var(--themecolor);
	padding: 3px 25px;
	border-radius: 2px;
}
.social_menu .button:hover{
	text-decoration: unset;
	color: var(--themecolor);
	background-color: #ffffff80;
}
.social_menu .s_icons{
	right: 20%;
}
.social_menu .s_icons i{
	border:0.5px solid;
	padding: 5px 8px;
}
.social_menu .s_icons i:hover{
	text-decoration: unset;
	color: var(--themecolor);
	background-color: #ffffff80;
}
.social_menu .mobile{
	right: 0;
}
.social_menu .mobile:hover{
	text-decoration: underline;
}
.navbar{
	padding:5px 0px;
}
.navbar .nav_right{
	display: flex;
}
.navbar .nav_right li{
	margin: 0px 16px;
}
.navbar .nav_right a{
	color: white;
	text-transform: uppercase;
}
.navbar .nav_right a:hover{
	color: var(--themecolor);
	text-decoration: unset;
}
.header_mobile .nav_logo, .navbar .nav_brand a{
	color: var(--themecolor);
	padding: 0px 5px;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: unset;
	font-size: 2rem;
	background-color: white;
}
.header_mobile{
	padding:10px 15px;
	background-color: var(--themecolor);
}
.header_mobile_toggle{
	background-color: var(--themecolor);
}
.header_mobile .nav_logo{
	width: 15vw;
    min-width: 3rem;
    max-width: 5rem;
}
.header_mobile .nav_toggle{
	float: right;
	font-size: 30px;
	max-width: 30px;
	display: flex;
	flex-wrap: wrap;
}
.header_mobile .nav_toggle a{
	max-height: 10px;
}
.header_mobile_items{
	padding-top: 1rem;
	padding-bottom: 3rem;
	text-align: center;
	width: 100%;
	display: none;
	flex-wrap: wrap;
	transition: all 1s;
}
.header_mobile_items_toggle{
	height: 100vh;
	display: flex;
	background-color: var(--themecolor);
}
.header_mobile_items li{
	width: 100%;
}
.header_mobile_items .nav_item, .header_mobile_items .nav_item a{
	color:white;
	font-weight: 400;
	font-size: 30px;
}
.header_mobile_items .nav_item a:hover{
	color: black;
	text-decoration: unset;
}
.header_mobile_items .s_icons a{
	margin:0px 10px;
}
.banner_content{
	position: absolute;
	margin:0;
	top:50%;
	transform: translateY(-50%);
}
.banner_content .title{
	font-size:3rem;
	text-transform: uppercase;
}
.banner_content .txt{
	margin-top:15px;
	margin-bottom: 25px;
}
.banner_content .banner_btn{
	color:white;
	background-color: var(--themecolor);
	border:1px solid var(--themecolor);
	padding:5px 25px;
	text-decoration: unset;
	border-radius: 3px;
}
.banner_content .banner_btn:hover{
	color:var(--themecolor);
	background-color:unset;
	box-shadow: 0px 0px 10px 1px var(--themecolor);
}
.banner_down{
	cursor: pointer;
	text-decoration: unset;
	color: white;
	font-size: 2rem;
	text-align: center;
	position: absolute;
    display: flex;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}
.banner_down:hover{
	text-decoration: unset;
}
.banner_down i:hover{
	color:var(--themecolor);
}
.banner{
	height: 50vw;
}
.banner_down{
	top:40vw;
}
section{
	padding:3rem 0rem;
}
.section1{
	background-color: #edf1f4;
}
.section1 .cnt{
	display: flex;
}
.section1 .column{
	align-self: center;
}
.section1 .column1{
	width: 25%;
}
.section1 .column2{
	width: 25%;
}
.section1 .column3{
	width: 50%;
	padding:0rem 3rem;
}
.section1 .column .title{
	font-weight: bold;
	margin:1rem 0rem;
	text-transform: uppercase;
}
.section1 .column1 .title{
	font-size: 1rem;
}
.section1 .column3 .title{
	font-size: 2rem;
}
.section2{
	padding: 0;
}
.section2 .column1{
	padding:3rem 3rem;
}
.section2 .column2{
	padding:3rem 3rem;
}
.section2 .column1{
	border-right: 1px solid lightgrey;
}
.section2 .column1 .title{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}
.section2 .column1 .count_block{
	display:flex;
}
.section2 .column1 .count_block .no{
	font-size: 5rem;
	width: 40%;
	font-weight: bold;
	color: var(--themecolor);
}
.section2 .column1 .count_block .txt{
	align-self: center;
	width: 60%;
}
.section2 .column1 .btn{
	color:white;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--themecolor);
	border: 1px solid var(--themecolor);
	border-radius: 2px;
}
.section2 .column1 .btn:hover{
	color: var(--themecolor);
	background-color: white;
}
.section2 .column2 .ftr{
	display: flex;
	margin-bottom:20px;
}
.section2 .column2 .ftr i{
	border: 1px solid lightgrey;
	display: flex;
	font-size: 20px;
	align-items: center;
	color: var(--themecolor);
	justify-content: center;
	width: 3rem;
	height: 3rem;
}
.section2 .column2 .ftr_txt{
	padding:0rem 1rem;
}
.section2 .column2 .ftr_txt .no{
	font-size: 2rem;
	color: var(--themecolor);
}
.section3{
	background-color: #edf5f8;
}
.section3 .title_block{
	text-align: center;
	padding:0rem 10rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.section3 .title_block .title{
	font-size: 2rem;
	font-weight: bold;
}
.section3 .title_block .tag{
	color:var(--themecolor);
}
.section3 .column{
	padding:20px 20px;
}
.section3 .column .cnt{
	height: 18rem;
	padding:2rem 2rem;
	background-color: white;
}
.section3 .column .title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.section3 .column ul{
	padding: 1rem 1rem;
	margin-bottom: 0;
}
.section3 .column li{
	position: relative;
}
.section3 .column li:before{
	color:var(--themecolor);
	font-size: 20px;
	top: 0px;
    left: -20px;
	content: " \25B8";
	position: absolute;
}
.section3 .column ul a{
	font-size: 20px;
	color: var(--themecolor);
}
.section3 .cnt{
	position: relative;
	background-image: url('../images/jcb.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-position-y: 4rem;
}
.section3 .cnt .bottom{
	position: absolute;
	width: 100%;
	height: 40px;
	border-top:1px solid lightgrey;
	bottom: 0;
	left: 0;
}
.section3 .cnt .bottom .right_arrow{
	width: 40px;
	border-right: 1px solid lightgray;
	height: 100%;
	font-size: 2rem;
	color:var(--themecolor);
	display: flex;
	align-items: center;
	justify-content: center;
}
.section3 .cnt .bottom .right_arrow:hover{
	color:white;
	background-color: var(--themecolor);
	text-decoration: unset;
}
.section4 .main_title{
	padding: 0px 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.section4 .row{
	padding:0px 15px;
}
.section4 .box{
	position: relative;
}
.section4 a:hover{
	color:white;
	text-decoration: unset;
}
.section4 .card{
	overflow: hidden;
	border:unset;
	border-radius: unset;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 17rem;
}
.section4 .column1 .card{
	background-image:url(../images/drilling.jpg);
}
.section4 .column1 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/drilling.jpg);
}
.section4 .column2 .card{
	background-image:url(../images/crane-cargo.jpg);
}
.section4 .column2 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/crane-cargo.jpg);
}
.section4 .column3 .card{
	background-image:url(../images/crane-under.jpg);
}
.section4 .column3 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/crane-under.jpg);
}
.section4 .column4 .card{
	background-image:url(../images/welding.jpg);
}
.section4 .column4 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/welding.jpg);
}
.section4 .title{
	color:white;
	font-weight: bold;
	margin-left: 2rem;
	margin-top: 2rem;
	text-transform: uppercase;
}
.section4 .column{
	position: relative;
}
.section4 .bottom{
	position: absolute;
	width: 100%;
	height: 40px;
	border-top:1px solid lightgrey;
	bottom: 0;
	left: 0;
}
.section4 .bottom .right_arrow{
	width: 40px;
	border-right: 1px solid lightgray;
	height: 100%;
	font-size: 2rem;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section4 .bottom .right_arrow:hover{
	text-decoration: unset;
}
.section5{
	color: white;
	padding-bottom: 0;
}
.section5 .column{
	width: 50%;
}
.section5 .column1{
	padding:5% 8%;
	background-image:linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.85) 100%),
	url(../images/clutch.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.section5 .column1 .title{
	color: var(--themecolor);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;
}
.section5 .column1 .txt{
	font-size: 2rem;
	text-transform: uppercase;
}
.section5 .column2{
	background-color: var(--themecolor);
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right:15%;
}
.section5 .column2 .title{
	font-size: 20px;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.section5 .carousel-control-block{
	position: absolute;
	width: 5rem;
	background-color: white;
	bottom:0;
	left: 50%;
	margin:0;
	transform: translateX(-50%);
	height: 2rem;
}
.section5 .carousel-control-prev-icon, .section5 .carousel-control-next-icon{
	background: none;
	color:var(--themecolor);
	font-size: 20px;
	font-weight: bold;
}
.section5 .carousel-control-prev, .section5 .carousel-control-next{
	width: max-content;
	margin:0;
	opacity: 1;
	top:90%;
}
.section5 .carousel-control-next{
	right:48%;
}
.section5 .carousel-control-prev{
	left: 48%;
}
.section6{
	background-color: #edf1f4;
	padding-bottom:0;
}
.section6 .main_title{
	color: var(--themecolor);
	text-transform: uppercase;
	font-weight: bold;
}
.section6 .row{
	padding-top:1rem;
}
.section6 .column1 .text{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
.section6 .c .ftr{
	display: flex;
	margin-bottom:20px;
}
.section6 .icon{
	color: white;
	background: linear-gradient(145deg, rgba(19,153,103,1) 50%, rgba(40,212,148,1) 100%);
	width:10rem;
	height:3rem;
	font-size: 1.5rem;
	display: flex;
    align-items: center;
    justify-content: center;
}
.section6 .c .ftr_txt{
	padding:0rem 1rem;
}
.section6 .c .ftr_txt .title{
	font-weight: bold;
	margin-bottom: 1rem;
}
.section6 .c .more{
	color: var(--themecolor);
}
.section7{
	background-image: url('../images/desert.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}
.section7 .row{
	margin:2rem 0rem;
}
.section7 .column{
	padding:0;
}
.section7 .row1{
	color: var(--themecolor);
	text-transform: uppercase;
	font-weight: bold;
}
.section7 .row2 .c1{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}
.section7 .row3{
	font-weight: bold;
	text-transform: uppercase;
}
.section7 .row4 .column{
	align-items: center;
	display: flex;
}
.section7 .row4 .column .icon{
	color: var(--themecolor);
	font-size: 3rem;
	padding:2rem;
}
.section7 .row5 a{
	text-decoration: unset;
	padding:5px 25px;
	color: white;
	border-radius: 1px solid var(--themecolor);
	background-color: var(--themecolor);
}
.section8{
	background-color: #edf1f4;
}
.section8 .title_sm{
	color: var(--themecolor);
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 15px;
	margin-bottom: 1rem;
}
.section8 .head{
	margin-bottom: 2rem;
}
.section8 .head .main_title{
	margin-bottom: 0;
}
.section8 .head .button{
	padding:0px 15px;
	align-self: center;
}
.section8 .head .button a{
	background-color: var(--themecolor);
	color: white;
	border: 1px solid var(--themecolor);
	text-decoration: unset;
	padding:5px 50px;
	align-self: center;
	width: max-content;
}
.section8 .head .button a:hover{
	color:var(--themecolor);
	background-color: #edf1f4;
}
.section8 .column1 .card{
	background-image:url(../images/crane-fit.jpg);
}
.section8 .column1 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/crane-fit.jpg);
}
.section8 .column2 .card{
	background-image:url(../images/crane-fsc.jpg);
}
.section8 .column2 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/crane-fsc.jpg);
}
.section8 .column3 .card{
	background-image:url(../images/crane-cut.jpg);
}
.section8 .column3 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/crane-cut.jpg);
}
.section8 .column4 .card{
	background-image:url(../images/harvester.jpg);
}
.section8 .column4 .card:hover{
	background-image:linear-gradient(180deg, rgba(19,153,103,0.8) 0%, rgba(19,153,103,0.8) 100%),
	url(../images/harvester.jpg);
}
.s_map{
	min-height: 20rem;
	background-image: url('../images/map-grey.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.s_map .column{
	width: 50%;
}
.s_map .c1 .t1, .s_map .c1 .t2{
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}
.s_map .c1 .t2{
	color: var(--themecolor);
}
.s_map .c1 .card{
	padding: 2rem 4rem;
	margin:2rem 0rem;
}
.s_map .c1 .card .phone{
	font-weight: bold;
	font-size: 20px;
}
.s_map .c1 .card .address{
	margin:1rem 0rem;
}
.s_map .c1 .card .mail .id{
	color: var(--themecolor);
	text-decoration: underline;
	cursor: pointer;
}
.s_map .c2{
	display: flex;
    align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: var(--themecolor);
}
.s_map .c2 i:hover{
	cursor:pointer;
}
.section10 .title{
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}
.section10 .row{
	align-items: center;
	margin-top:2rem;
	margin-bottom: 3rem;
}
.section10 .c2{
	padding:2rem 2rem;
	border: 1px solid lightgrey;
	border-bottom: 2px solid var(--themecolor);
}
.section10 .button{
	text-align: center;
}
.section10 .button a{
	color: var(--themecolor);
	padding:5px 30px;
	text-decoration: unset;
	border-radius: 3px;
	border:1px solid var(--themecolor);
	transition: .3s;
}
.section10 .button a:hover{
	padding:5px 40px;
}
footer{
	background-color: #262626;
	color:white;
}
footer a{
	color:white;
}
footer a:hover{
	color:var(--themecolor);
}
footer .row1{
	padding:16px 0px;
}
footer .divider{
	margin: 0;
    border: 0;
    border-bottom: 1px solid darkgray;
}
footer .row1 .c1 ul{
	padding:0;
	margin:0;
	display:flex;
}
footer .row1 .c1 li{
	margin-right: 10%;
}
footer .row1 .c2 a{
	text-decoration: underline;
	float: right;
}
footer .social_menu{
	min-height: 5rem;
	height: max-content;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .social_menu .sm{
	position: unset;
}





@media(min-width: 768px){
	.header_mobile, .header_mobile_items{
		display: none;
	}
}

@media(max-width: 1199px){
	.container-fluid{
		width: 95%;
	}
	.banner{
		height: 50vh;
	}
	.banner_down{
		top:40vh;
	}
	.section2 .column1{
		padding:3rem 1.5rem;
	}
	.section3 .title_block{
		padding:0;
	}
	.section3 .cnt{
		background: unset;
	}
}

@media(max-width: 991px){
	.banner{
		height: 60vh;
	}
	.banner_down{
		top:50vh;
	}
	.section2 .column1{
		padding:3rem 0rem;
	}
	.section3 .title_block .title{
		font-size: 1.5rem;
	}
	.section5 .carousel-control-prev, .section5 .carousel-control-next{
		top:92%;
	}
	.section5 .carousel-control-next{
		right:47%;
	}
	.section5 .carousel-control-prev{
		left: 47%;
	}
	footer .social_menu{
		justify-content: space-around;
	}
	footer .social_menu .sm{
		margin:10px 5px;
	}
}

@media(max-width: 767px){
	.social_menu, .navbar{
		display: none;
	}
	.banner{
		height: 70vh;
	}
	.banner_down{
		top:60vh;
	}
	.section1 .cnt{
		display: flex;
		flex-wrap: wrap;
		padding:0;
	}
	.section1 .column{
		margin:10px 0px;
	}
	.section1 .column1{
		width: 100%;
	}
	.section1 .column2{
		display: none;
	}
	.section1 .column3{
		width: 100%;
		padding:0;
	}
	.section2 .column1{
		border:unset;
		padding-top:3rem;
		padding-bottom: 0;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.section2 .column2{
		padding:2rem 2rem;
	}
	.section4 .column{
		padding: 15px 15px;
	}
	.section4 .main_title{
		font-size: 1.5rem;
	}
	.section5 .column{
		width: 100%;
	}
	.section5 .carousel-control-prev, .section5 .carousel-control-next{
		top:92%;
	}
	.section5 .carousel-control-next{
		right:46%;
	}
	.section5 .carousel-control-prev{
		left: 46%;
	}
	.section5 .column{
		padding:1rem 2rem;
	}
	.section6 .column2{
		padding-bottom: 3rem;
	}
	.section6 .column1 img{
		max-width: 70vw;
		float: right;
	}
	.section7 .row{
		margin:1rem 0rem;
	}
	.s_map .c1 .card{
		padding:1rem 2rem;
	}
	.section10 .title{
		padding: 0;
	}
	.section10 .c1{
		margin-bottom: 1rem;
	}
	footer .row1 .c1 ul{
		display: flex;
		flex-wrap: wrap;
	}
	footer .row1 .c1 li{
		margin-right: 5%;
	}
}

@media(max-width: 600px){
}

@media(max-width: 575px){
	.banner{
		height: 80vh;
	}
	.banner_down{
		top:70vh;
	}
	.section2 .column1{
		padding-top:3rem;
		padding-bottom: 0;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.section3 .title_block .title{
		font-size: 1.2rem;
	}
	.section5 .carousel-control-prev, .section5 .carousel-control-next{
		top:92%;
	}
	.section5 .carousel-control-next{
		right:45%;
	}
	.section5 .carousel-control-prev{
		left: 45%;
	}
	.s_map .c1 .t1, .s_map .c1 .t2{
		font-size: 1rem;
	}
}

@media(max-width: 500px){
	.section2 .column1 .title{
		font-size: 20px;
	}
	.section7 .row4 .column .icon{
		padding:1rem;
	}
	.s_map .c1 .card{
		padding:1rem 1rem;
	}
	.s_map .c1 .card .phone{
		font-size: 15px;
	}
	.section10 .title{
		font-size: 1.5rem;
	}
}

@media(max-width: 400px){
	.banner{
		height: 90vh;
	}
	.banner_down{
		top:80vh;
	}
}

@media(max-width: 392px){
	.section5 .carousel-control-prev, .section5 .carousel-control-next{
		top:94%;
	}
	.section5 .carousel-control-next{
		right:44%;
	}
	.section5 .carousel-control-prev{
		left: 44%;
	}
}

@media(max-width: 350px){
	.section2 .column1{
		padding-top:3rem;
		padding-bottom: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.section2 .column2 {
		padding: 2rem 1rem;
	}
}
