header{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px 0px;
}
#topbar{
	background-color: var(--themecolor);
	height: 8vh;
	position: relative;
}
#topbar .md-fluid{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#topbar .col1, #topbar .col2{
	font-size: 1vw;
}
#topbar .info{
	color: white;
}
#topbar .phone{

}
#topbar .mail{
	padding: 0% 10%;
}
#topbar .social-icon{
	/*font-size: 1vw;*/
	display: inline-flex;
	/*padding-top: 3px;*/
	/*margin-left: 30%;*/
}
#topbar .social-icon a{
	color: white;
	margin-right: 50%;
}
#menu{
	background-color: white;
	min-height: 4rem;
}
.navbar-brand img{
		height: 15vh;
		width:auto;
	}
.navbar-light .navbar-nav .nav-link{
	color: var(--md-text);
}
.navbar-nav .nav-item .book{
    background: var(--themecolor);
    color:white;
    border-radius:0.4vw;
    border:2px solid var(--themecolor);
}
.navbar-nav .nav-item .book:hover{
    color: var(--md-text);
    background-color:white;
    border:2px solid var(--md-text);
}


/*min-width : 1200px  ends menu collapse*/
@media only screen and (min-width: 1200px){
	#menu{
		height: 20vh;
		position: relative;
	}
	#menu .md-fluid{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar-brand img{
		width: 12vw;
	}
	.navbar-light .navbar-nav .nav-link{
		font-size: 1.3vw;
	}
	.navbar-light .navbar-nav .nav-link {
		padding-left: 2vw;
		padding-right: 2vw;
	}
	#menu .services{
	left: -30rem;
}
}
#menu .dropdown-menu .row{
	width: max-content;
}
/*min-width : 1200px  ends menu collapse*/


@media only screen and (max-width: 1199px){
	#topbar{
		height: 5rem;
	}
	#topbar .col1{
		font-size: 1rem;
	}
	#topbar .social-icon{
		font-size: 1rem;
	}
	#menu .navbar{
		margin-top: 1rem;
	}
	#menu .navbar-brand img {
    height: 10vw;
    width: auto;
   }
	#menu .dropdown-menu .row {
    width: unset;
}
#menu .navbar-nav .nav-item .book {
    padding: 1% 2%;
    width: max-content;
}
}

@media only screen and (max-width: 1000px){
	#topbar .mail {
		padding: 0% 0%;
	}
}

@media only screen and (max-width: 991px){
	.navbar-nav{
		margin-top: 0rem !important;
	}
}
@media only screen and (max-width: 852px){
	#topbar .mail {
		padding: 0% 0%;
	}
}

@media only screen and (max-width: 767px){
	#topbar .col1, #topbar .col2{
		padding:1% 0%;
	}
	#topbar .social-icon{
		margin-left: 30%;
	}
}

@media only screen and (max-width: 390px){
	#topbar .col1{
		font-size: 13px;
	}
}

@media only screen and (max-width: 300px){
	#topbar .social-icon {
		margin-left: 0%;
	}
}







