:root{
  --themecolor:#060f29;
  --md-text:#1560dc;
}
body{
	/*background-color: #060f29;*/
	background-color: white;
}
img{
    width:100%;
}
li{
    list-style-type:none;
}
.md-fluid {
    width: 92%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.font-weight-500{
    font-weight: 500;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
.width100{
  width: 100%;
}
.pos-abs{ position: absolute; }
.pos-rel{ position: relative; }
.uppercase{ text-transform:uppercase; }
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #d4e3ea;
    width: max-content;
}
.lp:before{
	left: 8%;
}
header{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 7px 0px;
}
#topbar{
	background-color: var(--themecolor);
	height: 8vh;
	position: relative;
}
#topbar .md-fluid{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#topbar .col1, #topbar .col2{
	font-size: 1vw;
}
#topbar .info{
	color: white;
}
#topbar .phone{

}
#topbar .mail{
	padding: 0% 10%;
}
#topbar .social-icon{
	/*font-size: 1vw;*/
	display: inline-flex;
	/*padding-top: 3px;*/
	/*margin-left: 30%;*/
}
#topbar .social-icon a{
	color: white;
	margin-right: 50%;
}
#menu{
	background-color: white;
	min-height: 4rem;
}
.navbar-brand img{
		height: 15vh;
		width:auto;
	}
.navbar-light .navbar-nav .nav-link{
	color: var(--md-text);
}
.navbar-nav .nav-item .book{
    background: var(--themecolor);
    color:white;
    border-radius:0.4vw;
    border:2px solid var(--themecolor);
}
.navbar-nav .nav-item .book:hover{
    color: var(--md-text);
    background-color:white;
    border:2px solid var(--md-text);
}
.banner-block{
    position:relative;
}
.home-banner{
	height: 80vh;
	background-color: grey;
	position: relative;
}
.home-banner .md-fluid{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.home-banner .carousel-inner{
    height:80vh;
}
.home-banner .carousel-item .carousel-caption{
    top:30vh;
    height:max-content;
}
.home-banner .carousel-item img{
    transform: scale(1);
    transition: transform 3s
}
.cr-img{
    height:50rem;
}
.home-banner .carousel-item img:hover{
    transform: scale(1.1);
}
.home-banner .carousel-item .caption-title{
    font-size:4vw;
    font-weight:bold;
}
.home-banner .carousel-item .carousel-caption p{
    font-size:2vw;
    font-weight:bold;
}
.book-form{
    z-index:2;
    border-radius: 1vw;
    border: 0.1vw solid var(--themecolor);
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    position: absolute;
    height: max-content;
    padding:2% 6%;
    background-color: white;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}
.book-form .form-group span{
    margin:2% 5%;
}
.book-form button{
    padding: 0% 5%;
    height: 2.5vw;
	font-weight:bold;
    background: var(--themecolor);
    color:white;
    border-radius:0.4vw;
    border:2px solid var(--themecolor);
}
.main_title, .main_title span{
	font-size: 3vw;
}
section .main_title{
	text-shadow: 3px 4px #c6c6c6;
	text-align: center;
	padding-bottom: 2%;
	font-weight: bold;
}
section .main_title span{
	color: var(--themecolor);
}
.gallery{
    padding-top:25vh;
}
.gallery .card{
    border:unset;
}
.gallery .card-body{
    padding:5% 0%;
}
.gallery .card-title{
    font-size:1.7vw;
    font-weight:bold;
    line-height:2;
}
.gallery p{
    font-weight:bold;
}
/*.gallery .btn{
    font-weight:bold;
    text-transform:uppercase;
    width:40%;
    background: var(--themecolor);
    color:white;
    border-radius:0.4vw;
    border:2px solid var(--themecolor);
}
.gallery .btn:hover{
    color: var(--md-text);
    background-color:white;
    border:2px solid var(--md-text);
}*/
.gallery .more-inset{
    font-weight:bold;
    font-size:1.3vw;
    color:var(--themecolor);
    background-color: var(--themecolor);
    box-shadow: #fff 0 1em inset;
    transition: box-shadow 0.3s ease-out,color 0.2s;
    position: relative;
    padding-left:1%;
    padding-right:1%;
}
.gallery .more-inset:hover{
    color:white;
    box-shadow: #fff 0 0 inset;
}
.blogs{
    padding-top:10vh;
    padding-bottom:10vh;
}
.blogs .column{
	padding: 0% 3%;
}
.blogs img{
	height: 20vw;
}
.blogs .top .left, .blogs .top .right{
	color: grey;
}
.blogs .top .right{
	float: right;
}
.blogs .card{
    border:unset;
}
.blogs .card-body{
	padding: 1rem;
}
.blogs .top, .blogs .txt, .blogs .by{
	margin-bottom: 3%;
}
.blogs .txt{
	font-weight: bold;
	font-size:1.2vw;
}
.blogs .by{
	color: grey;
}
.blogs .icons a{
	color: black;
	font-size: 1.3vw;
	margin:0% 1%;
}
.blogs .icons i{
	position: relative;
	width: 1vw;
}
.blogs .icons i:after{
	opacity: 0;
	font-size: 2vw;
	content: "C";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 50%;
  overflow: hidden;
  color: var(--themecolor);
  transform: rotate(-90deg);
}
.blogs .icons i:hover{
	color: var(--themecolor);
}
.blogs .icons i:hover::after{
	opacity: 1;
}
.blogs .more-link{
    color:var(--md-text);
    font-size:1.1vw;
}
.contact{
    padding:5% 10%;
}

#footer{
    background-color: var(--themecolor);
    color:white;
    padding:2% 0%;
}
#footer .r{
    margin:3% 0%;
}
#footer span{
    font-size:1.3vw;
    font-weight:bold;
}
#footer p{
    font-size:1.2vw;
}
#footer .social i{
    margin:0% 2%;
    color:var(--themecolor);
    background-color:white;
    border-radius:50%;
    padding:1% 1%;
    font-size:2vw;
    border:0.1vw solid var(--themecolor);
}
#footer .social .fa-twitter{
    padding:1% 1%;
}
#footer .social .fa-twitter:hover{
    color:#55acee;
    background-color:white;
    border:0.1vw solid #55acee;
}
#footer .social .fa-facebook{
    padding:1% 1.5%;
}
#footer .social .fa-facebook:hover{
    color:#3b5998;
    background-color:white;
    border:0.1vw solid #3b5998;
}


/*min-width : 1200px  ends menu collapse*/
@media only screen and (min-width: 1200px){
	#menu{
		height: 20vh;
		position: relative;
	}
	#menu .md-fluid{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.navbar-brand img{
		width: 12vw;
	}
	.navbar-light .navbar-nav .nav-link{
		font-size: 1.3vw;
	}
	.navbar-light .navbar-nav .nav-link {
		padding-left: 2vw;
		padding-right: 2vw;
	}
	#menu .services{
	left: -30rem;
}
}
#menu .dropdown-menu .row{
	width: max-content;
}
/*min-width : 1200px  ends menu collapse*/


@media only screen and (max-width: 1200px){
  *{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px){
.lp:before{
	left: 7%;
}
}

@media only screen and (max-width: 1199px){
	.home-banner, .home-banner .carousel-item{
		height: 30rem;
	}
	.home-banner .carousel-inner, .cr-img{
	    height:100%;
	}
	.home-banner .carousel-item .carousel-caption{
	    top:37%;
	}
	.main_title, .main_title span {
    font-size: 3rem;
}
.book-form{
    top:75%;
}
.book-form button{
    height:2rem;
}
.gallery{
    padding-top:5rem;
}
.gallery .card-title{
    font-size:1.2rem;
}
.gallery .more-inset, .blogs .txt, .blogs .more-link{
    font-size:1rem;
}
.blogs {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
	.blogs img {
    height: 12rem;
}
	.blogs .icons a{
		margin: 0% 3%;
	}
	.blogs .icons i{
		font-size: 1rem;
	}
	.blogs .icons i:hover::after{
	opacity: 0;
}
}

@media(max-width:1199px){
    #footer span{
        font-size:1.2rem;
    }
    #footer p, #footer .social i{
        font-size:1rem;
    }
}

@media only screen and (max-width: 1199px){
	#topbar{
		height: 5rem;
	}
	#topbar .col1{
		font-size: 1rem;
	}
	#topbar .social-icon{
		font-size: 1rem;
	}
	#menu .navbar{
		margin-top: 1rem;
	}
	#menu .navbar-brand img {
    height: 10vw;
    width: auto;
   }
	#menu .dropdown-menu .row {
    width: unset;
}
#menu .navbar-nav .nav-item .book {
    padding: 1% 2%;
    width: max-content;
}
}



@media only screen and (max-width: 1000px){
	#topbar .mail {
		padding: 0% 0%;
	}
}

@media only screen and (max-width: 991px){
    .home-banner .carousel-item .caption-title {
    font-size: 3rem;
}
.home-banner .carousel-item .carousel-caption p {
    font-size: 1.2rem;
}
    .book-form {
    top: 65%;
}
	.main_title, .main_title span {
    font-size: 2.5rem;
}
.gallery {
    padding-top: 10rem;
}
.blogs {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
}

@media only screen and (max-width: 991px){
	.navbar-nav{
		margin-top: 0rem !important;
	}
}
@media only screen and (max-width: 852px){
	#topbar .mail {
		padding: 0% 0%;
	}
}

@media only screen and (max-width: 767px){
	.lp:before{
		left: 5%;
}
}

@media only screen and (max-width: 767px){
	#topbar .col1, #topbar .col2{
		padding:1% 0%;
	}
	#topbar .social-icon{
		margin-left: 30%;
	}
}

@media only screen and (max-width: 767px){
    .home-banner .carousel-item .carousel-caption p{
        display:none;
    }
}

@media only screen and (max-width: 500px){
	.lp:before{
		left: 3%;
}
}

@media only screen and (max-width: 480px){
    .home-banner, .home-banner .carousel-item{
        height:20rem;
    }
    .home-banner .carousel-item .caption-title {
    font-size: 2rem;
}
	.main_title, .main_title span {
    font-size: 2rem;
}
.book-form{
    top:75%;
}
.book-form button{
    height:2rem;
}
.book-form .form-group {
    margin-bottom: 10px;
}
.gallery .card-title, .gallery .more-inset, .blogs .txt, .blogs .more-link{
    font-size:1rem;
}
.blogs .top, .blogs .txt, .blogs .by {
    margin-bottom: 5px;
}
}
.blog-img{
    border-radius:10px;
}
.blog-card:hover {
    box-shadow:-2px 4px 11px 2px;
}

@media only screen and (max-width: 400px){
	.main_title, .main_title span {
    font-size: 1.5rem;
}
}

@media only screen and (max-width: 390px){
	#topbar .col1{
		font-size: 13px;
	}
}

@media only screen and (max-width: 300px){
	#topbar .social-icon {
		margin-left: 0%;
	}
}

